html {
    background-color: whitesmoke;
}

.header-container {
    background-color: #1F2937;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.information {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-left: 20px;
    flex-basis: 60%;

}
.headerlogo {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #f9faf8;
    font-size: 24px;
    background-color: blue;
    margin: 5px;
    flex-grow: 4;
}

a {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #e5e7eb;
    text-decoration: none;
    background-color: blue;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-self: center;
    margin-right: 50px;
}

.secondary {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #e5e7eb;
    text-decoration: none;
    background-color: blue;
    margin: 5px;
    width: 50%;
}

.awesome {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
    background-color: blue;
    margin: 5px;
    width: 60%;  
}

.god {
    width: 30%;
    height: auto;
    margin: 20px;
    order: 4;
    align-self: center;
}

.button {
    background-color: blue;
    border: none;
    margin-left: 5px;
}